<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>IDisposable - Sealed class (Unmanaged resources only).</Title>
            <Author>Deleep Nair</Author>
            <Description>Code to handle object disposal.</Description>
            <Shortcut>IDisposeSealedManaged</Shortcut>
        </Header>
        <Snippet>
          <References>
            <Reference>
              <Assembly>System.Data.dll</Assembly>
            </Reference>
          </References>
          <Imports>
            <Import>
              <Namespace>System.Data</Namespace>
            </Import>
          </Imports>
          <Declarations>
            <Object>
              <ID>ManagedGlobalResource</ID>
              <ToolTip>Global resource variable name</ToolTip>
              <Type>System.Object</Type>
              <Default>_managedResource</Default>
            </Object>
            <Object>
              <ID>DisposingObject</ID>
              <ToolTip>Global resource variable name</ToolTip>
              <Type>System.Object</Type>
              <Default>CurrentObject</Default>
            </Object>
          </Declarations>
          <Code Language="CSharp">
                <![CDATA[
          #Region "IDisposable Members"

              Private _isDisposed As Boolean = False

              Public Sub Dispose()
                  If _isDisposed Then
                      Return
                  End If

                  DisposeManagedResources()

                  GC.SuppressFinalize(Me)
              End Sub

              Private Sub DisposeManagedResources()

                  If ($ManagedGlobalResource$) IsNot Nothing Then
                      $ManagedGlobalResource$.Dispose()
                      $ManagedGlobalResource$ = Nothing
                  End If

              End Sub

              ''' <summary>
              ''' This should be the first statement in all public members of this object.
              ''' </summary>
              Private Sub CheckIfDisposeAndRaiseException()
                  If _isDisposed Then
                      Throw New ObjectDisposedException(Me.[GetType]().FullName)
                  End If

              End Sub

          #End Region
              ]]>
            </Code>

        </Snippet>
        
    </CodeSnippet>
</CodeSnippets>