<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>IDisposable implementation for sealed class with Managed and Unmanaged Resources</Title>
            <Author>Deleep Nair</Author>
            <Description>Based on the blog by Paul Ballard (http://blog.pluralsight.com/idisposable-for-dummies-1-why-what)</Description>
            <Shortcut>IDisposeSealedBoth</Shortcut>
        </Header>
        <Snippet>
          <Imports>
            <Import>
              <Namespace>System</Namespace>
            </Import>
          </Imports>
          <Declarations>
            <Object>
              <ID>ManagedGlobalResource</ID>
              <ToolTip>Global resource variable name</ToolTip>
              <Type>System.Object</Type>
              <Default>_managedResource</Default>
            </Object>
            <Object>
              <ID>DisposingObject</ID>
              <ToolTip>Global resource variable name</ToolTip>
              <Type>System.Object</Type>
              <Default>CurrentObject</Default>
            </Object>
          </Declarations>
          <Code Language="CSharp">
                <![CDATA[
            #Region "IDisposable Members"

                Private _isDisposed As Boolean = False

                Protected Overrides Sub Finalize()
                    Try
                        Dispose(False)
                    Finally
                        MyBase.Finalize()
                    End Try
                End Sub

                Public Sub Dispose()
                    Dispose(True)
                    GC.SuppressFinalize(Me)
                End Sub

                Private Sub Dispose(canDisposeManagedResources As Boolean)
                    If _isDisposed Then
                        Return
                    End If

                    If canDisposeManagedResources Then
                        Try
                            DisposeManagedResources()

                        Catch ex As Exception
                        End Try
                    End If

                    Try
                        DisposeUnmanagedResources()

                    Catch ex As Exception
                    End Try

                    _isDisposed = True
                End Sub

                Private Sub DisposeManagedResources()

                    If ($ManagedGlobalResource$) IsNot Nothing Then
                        $ManagedGlobalResource$.Dispose()
                        $ManagedGlobalResource$ = Nothing
                    End If

                End Sub

                Private Sub DisposeUnmanagedResources()

                End Sub

                ''' <summary>
                ''' This should be the first statement in all public members of this object.
                ''' </summary>
                Private Sub CheckIfDisposeAndRaiseException()
                    If _isDisposed Then
                        Throw New ObjectDisposedException(Me.[GetType]().FullName)
                    End If

                End Sub

            #End Region

              ]]>
            </Code>

        </Snippet>
        
    </CodeSnippet>
</CodeSnippets>