<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>IDisposable - Derived class</Title>
            <Author>Deleep Nair</Author>
            <Description>Based on the blog by Paul Ballard (http://blog.pluralsight.com/idisposable-for-dummies-1-why-what)</Description>
            <Shortcut>IDisposeDerived</Shortcut>
        </Header>
        <Snippet>
          <Imports>
            <Import>
              <Namespace>System</Namespace>
            </Import>
          </Imports>
          <Declarations>
            <Object>
              <ID>ManagedGlobalResource</ID>
              <ToolTip>Global resource variable name</ToolTip>
              <Type>System.Object</Type>
              <Default>_managedResource</Default>
            </Object>
            <Object>
              <ID>DisposingObject</ID>
              <ToolTip>Global resource variable name</ToolTip>
              <Type>System.Object</Type>
              <Default>CurrentObject</Default>
            </Object>
          </Declarations>
          <Code Language="CSharp">
                <![CDATA[
        #region IDisposable Members

        /// <summary>
        /// Dispose all managed resources here.
        /// </summary>
        protected override void DisposeManagedResources() {
			
            if ($ManagedGlobalResource$ != null) {
                $ManagedGlobalResource$.Dispose();
                $ManagedGlobalResource$ = null;
            }

            base.DisposeManagedResources();

        }
    
        /// <summary>
        /// Dispose all unmanaged resources here.
        /// </summary>
        protected override void DisposeUnmanagedResources() {
    
            base.DisposeUnmanagedResources();
            
            
        }
    
        #endregion

              ]]>
            </Code>

        </Snippet>
        
    </CodeSnippet>
</CodeSnippets>